.body-label {
  color: var(--goa-color-text-secondary);
  font: var(--goa-typography-body-m);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
  width: 100%;
  max-width: 1000px;
  font: var(--goa-typography-body-m);
}