/*==================
  App Heading
==================*/
/*link to open external page and having icon after it*/
.header a[href^="http"] {
  color: var(--goa-color-interactive-default);
}

/*==================
  Layout Page
==================*/
.app {
  opacity: 0;
  transition: opacity 0.5s;
}

.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
}

/*==================
  Side Menu
==================*/
.side-menu {
  min-width: 250px;
  width: 250px; /* Make wide enough to show 'Legacy' badge */
  border-right: 1px solid var(--goa-color-greyscale-200);
  padding-bottom: var(--goa-space-l);
}

/*==================
 Individual Page content
==================*/
.main {
  flex: 1 1 auto;
  margin: 0 var(--goa-space-2xl) var(--goa-space-4xl) var(--goa-space-3xl);
  line-height: var(--goa-line-height-3);
  font-size: var(--goa-font-size-4);
}

.box-container {
  border: 1px solid var(--goa-color-greyscale-200);
  padding: 1.5rem;
  border-radius: 4px;
}

h3.introduction {
  margin-bottom: 2rem;
}

h4.heading {
  color: var(--goa-color-text-secondary);
  margin-top: 0;
  margin-bottom: 0;
}

p.small {
  font-size: var(--goa-typography-body-s);
  color: var(--goa-color-text-secondary);
}

span.grey-text {
  margin-left: var(--goa-space-s);
  font: var(--goa-typography-body-m);
  color: var(--goa-color-greyscale-700);
}

div.hours {
  align-items: center;
  display: flex;
  height: var(--goa-space-xl);
  margin-bottom: var(--goa-space-2xs);
}

a.back {
  display: inline-block;
  margin-top: var(--goa-space-xl);
}

a.back::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 22px;
  vertical-align: middle;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 2 20 22" fill="none" stroke="%230070C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>') left center no-repeat;
}

a.back:visited::before,
a.back:hover::before {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 2 20 22" fill="none" stroke="%23004f84" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>') left center no-repeat;
}

.support-info {
  max-width: 700px;
}

.max-width-72ch {
  max-width: 72ch;
}

code {
  font: var(--goa-typography-number-s);
}

/*Tablet*/
@media screen and (max-width: 1231px) {
  .content {
    margin: 0;
  }

  .main {
    padding: 0 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

/*Mobile*/
@media screen and (max-width: 896px) {
  .container {
    flex-wrap: wrap;
  }

  .side-menu,
  .main {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }

  .main {
    padding: 0 2rem;
    margin: 0;
  }

  .content {
    flex-wrap: wrap;
  }

  .side-menu {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--goa-color-greyscale-200);
  }
}

@media screen and (max-width: 623px) {
  .main {
    padding: 0 1rem;
  }
}
