.card-heading {
    color: black;
    text-decoration: none !important;
    display: inline-block;
}

.card-description {
    color: black;
    text-decoration: none !important;
    display: block;
}

a {
    text-decoration: none;
}

a:hover .card-heading {
    color: var(--goa-color-interactive-hover);
    text-decoration: underline;
}

.card-lite:focus-visible {
    outline: 3px solid var(--goa-color-interactive-focus);
    outline-offset: 4px;
    border-radius: 4px;
}