.sandbox-note {
  color: #666;
}

.sandbox-render {
  border-radius: 4px;
  border: var(--goa-border-width-s) solid var(--goa-color-greyscale-200);
  background: var(--goa-color-greyscale-white);
  padding: var(--goa-space-3xl);
  margin: var(--goa-space-xs) 0 0;
  display: flex;
  justify-content: space-around;
}

.sandbox-render-fullwidth {
  width: 100%;
}

.sandbox-container {
  display: flex;
  gap: 1rem 2rem;
  flex-flow: wrap;
  margin-top: var(--goa-space-l);
}

.sandbox-render-centered {
  /*  */
}

@media screen and (max-width: 623px) {
  .sandbox-render {
    /*make sure preview element will inherit component width*/
    display: block;
    padding: var(--goa-space-xs);
  }
  .sandbox-container {
    gap: 0;
    display: block;
  }
}
