.version-language-switcher__heading {
    display: inline-flex;
    align-items: center;
    gap: var(--goa-space-2xs);
    font-size: var(--goa-font-size-2);
    white-space: nowrap;
    height: 20px;
}
.version-language-switcher__menu {
    display: block;
    font: var(--goa-typography-body-s);
    padding: var(--goa-space-s) var(--goa-space-s) var(--goa-space-s) var(--goa-space-s);
    text-decoration: none;
    color: var(--goa-color-text-default)!important;
    white-space: nowrap;
}
.version-language-switcher__menu:hover:not(.version-language-switcher__menu--current) {
    background: #cedfee;
}
.version-language-switcher__menu--current {
    color: var(--goa-color-text-light)!important;;
    background-color: var(--goa-color-interactive-default);
}

[slot="version"] {
    height: 20px;
    margin-top: 4px;
    display: flex; /* if needed to align items horizontally */
    align-items: center; /* vertically align content */
}

.version-language-switcher {
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; /* vertically align content */
    gap: var(--goa-space-s);
    margin-bottom: var(--goa-space-xs);
}

@media (max-width: 623px) {
    [slot="version"] {
        display: flex; /* if needed to align items horizontally */
        flex-direction: row;
        align-items: flex-start;
        gap: 0;
        margin-top: 0;
        height: auto;
    }

    .version-language-switcher {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        margin-bottom: var(--goa-space-3xs);
    }
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--goa-color-interactive-default);
}

.menu-link:hover {
  color: var(--goa-color-interactive-hover);
  text-decoration: underline;
}
