.component-header {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.component-header h1 {
  margin-top: 2rem;
}

@media screen and (max-width: 623px) {
  .component-header h1 {
    margin-top: 1.5rem;
  }
}
