.anchors a {
  margin-right: 1rem;
}

.anchors a:before {
}

.back-to-top {
  margin-top: 1rem;
  margin-right: 1.5rem;
  text-align: right;
}
h3[id^="example"] {
  margin-bottom: 0;
}
h3[id^="example"]:first-of-type {
  margin-top: 0;
}
h3[id^="example"]:not(:first-of-type) {
  margin-top: var(--goa-space-3xl);
}

h3[id^="example"] + div.sandbox-render {
  margin-top: var(--goa-space-m);
}
