.content {
  display: flex;
}

.side-menu {
  min-width: 224px;
  border-right: 1px solid var(--goa-color-greyscale-200);
  padding-top: 1rem;
}

.side-menu goa-dropdown {
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
  width: 100%;
  max-width: 1000px;
}