.support-info {
    margin-right: var(--goa-space-3xl);
    max-width: 700px;
    margin-top: var(--goa-space-3xl);
    margin-bottom: 104px;
}

@media screen and (max-width: 623px) {
    .support-info {
        margin-right: var(--goa-space-m);
    }
}