.review-page-example h2.section-title {
  margin-top: 0;
  margin-bottom: 0;
}
.review-page-example h2.section-title + h3 {
  margin-top: var(--goa-space-l);
  color: var(--goa-color-text-secondary);
}
