
h3[id^="component-example"] {
    margin-bottom: 0;
}
h3[id^="component-example"]:first-of-type {
    margin-top: 0;
}
h3[id^="component-example"]:not(:first-of-type) {
    margin-top: var(--goa-space-3xl);
}

h3[id^="component-example"] + div.sandbox-render {
    margin-top: var(--goa-space-m);
}

/*Other toc heading but not inside component examples*/
h2[id^="toc"] {
    margin-top: var(--goa-space-3xl);
    margin-bottom: 0;
}

h3[id^="toc"] {
    margin-top: var(--goa-space-2xl);
    margin-bottom: var(--goa-space-l);
}

goa-details + h2[id^="toc"],
figure + h2[id^="toc"] {
    margin-top: var(--goa-space-2xl);
}

h2[id^="toc"] + div,
h2[id^="toc"] + p,
h3[id^="toc"] + p {
    margin-top: var(--goa-space-l);
}
