/* @import './routes/dark-mode.css';*/
@import "@abgov/web-components/index.css";

body {
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* External links */
a[href^="http"]::after,
a[href^="https://"]::after {
  content: "";
  width: var(--goa-icon-size-l);
  height: var(--goa-icon-size-l);
  background-color: var(--goa-color-interactive-default);
  display: inline-block;
  margin-left: var(--goa-space-xs);
  vertical-align: middle;
  mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22ionicon%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M384%20224v184a40%2040%200%200%201-40%2040H104a40%2040%200%200%201-40-40V168a40%2040%200%200%201%2040-40h167.48M336%2064h112v112M224%20288%20440%2072%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%2232%22%2F%3E%3C%2Fsvg%3E") center bottom no-repeat;
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22ionicon%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M384%20224v184a40%2040%200%200%201-40%2040H104a40%2040%200%200%201-40-40V168a40%2040%200%200%201%2040-40h167.48M336%2064h112v112M224%20288%20440%2072%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%2232%22%2F%3E%3C%2Fsvg%3E") center bottom no-repeat;
}

a[href^="https://"]:hover:after {
  background-color: var(--goa-color-interactive-hover);
}

/* Open in new tab */
a[target="_blank"]::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-left: var(--goa-space-2xs);
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" class="ionicon s-ion-icon" viewBox="0 0 512 512"><title>Open</title><path d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h167.48M336 64h112v112M224 288L440 72" stroke="%230070C4" stroke-linecap="round" stroke-linejoin="round" stroke-width="32px"></path></svg>') center bottom no-repeat;
}

a.back-link::before {
    content: "";
    display: inline-block;
    width: 42px;
    height: 24px;
    vertical-align: middle;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 2 22 22" fill="none" stroke="%230070C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>') center center no-repeat;
}

a.back-link:visited::before,
a.back-link:hover::before {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 2 22 22" fill="none" stroke="%23004f84" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>') center center no-repeat;
}


h1+h2,
h1+h3,
h2+h3 {
  margin-top: 0;
}

h1,
h2,
h3 {
  max-width: 72ch;
}

p {
  max-width: 72ch;
}

ul,
ol {
  padding: 0 0 0 1.5rem;
}

li>ul, li>ol {
  padding-left: 1.5rem;
}

.hidden {
  visibility: hidden;
  margin: 0;
  height: 0;
  width: 0;
}

code.inline {
  background-color: var(--goa-color-greyscale-100);
}

/*Desktop*/
@media screen and (min-width: 1232px) {
  tbody {
    border-bottom: 2px solid var(--goa-color-greyscale-200);
  }
}

/*Tablet*/
@media screen and (max-width: 1231px) {
  .content {
    margin: 0;
  }
}
