.container-example-2--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.container-example-2--body-text {
  font: var(--goa-typography-body-s);
}

.container-example-2--right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 623px) {
  .container-example-2--container {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .container-example-2--right-content {
    display: block;
    margin-top: var(--goa-space-xs);
  }
}
