.container-example-1--sub-header {
    color: var(--goa-color-greyscale-700);
    font: var(--goa-typography-body-m);
}

.container-example-1--header {
    color: var(--goa-color-greyscale-700);
    font-size: var(--goa-font-size-7);
    font-weight: var(--goa-font-weight-bold);
    line-height: var(--goa-line-height-4);
    margin-bottom: var(--goa-space-s);
}

span.container-example-1--contact-label {
    color: var(--goa-color-greyscale-700);
    font: var(--goa-typography-heading-s);
}

span.container-example-1--contact-value {
    color: var(--goa-color-greyscale-700);
    font: var(--goa-typography-body-m);
}

/*Upcoming important due dates example*/
.container-example-1 goa-table tbody.striped tr:nth-child(even) {
    background-color: #F8F8F8;
}
.container-example-1 goa-table td.align-right {
    text-align: right;
}
