h3.container-example-4--h3 {
    margin-bottom: var(--goa-space-m);
}
label.container-example-4--label {
    font: var(--goa-typography-body-s);
    color: var(--goa-color-text-secondary);
}
.container-example-4--container-content {
    font: var(--goa-typography-body-m);
}
p.container-example-4--container-content {
    margin-bottom: 0;
}

h5.container-example-4--h5 {
    font: var(--goa-typography-body-m);
    color: var(--goa-color-text-secondary);
    margin-top: var(--goa-space-m);
    margin-bottom: var(--goa-space-m);
}

h6.container-example-4--h6 {
    font: var(--goa-typography-heading-s);
    margin-top:0;
    margin-bottom: 0;
}
